html, body {
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
}
p { 
  margin:20px;
}
#card {
  font-size: 300px;
}
.button {
  cursor: pointer;
  background-color: grey;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.button:focus {
  outline: none;
}
.players {
  font-size: 100px;
  line-height: 100%;
}
#Score_Line {
  font-size: 30px;
}
.score {
  color: blue;
}
